<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="#!"><i class="bi bi-clipboard-check"></i> E'lonlar doskasi</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" href="#!"><i
                        class="bi bi-layout-text-sidebar-reverse"></i> Mening e'lonlarim</a></li>
                <li class="nav-item"><a class="nav-link" href="#!"><i class="bi bi-box-arrow-in-right"></i> Login</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#!"><i class="bi bi-person-plus-fill"></i> Registratsiya</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#!"><i class="bi bi-box-arrow-left"></i> Chiqish</a></li>
            </ul>
        </div>
    </div>
</nav>