<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{{title}}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{url}}assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{url}}css/styles.css" rel="stylesheet"/>
    <link href="{{url}}css/mystyle.css" rel="stylesheet"/>
</head>
<body>
{{> navbar}}

{{{body}}}

{{>footer}}
</body>
</html>
