<header class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="./assets/banner.jpg" alt="Banner"/>
            </div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">O'z e'loningizni joylashtiring</h1>
                <p>Bu sayt orqali siz o'z e'lonlaringizni bepulga joylashtirib borishingiz
                    mumkin bo'ladi. Istalgan kategoriyangizni tanlang va o'zingiz xohlagan
                    e'loningizni joylashtiring</p>
                <a class="btn btn-primary" href="#!">E'lon joylashtirish</a>
            </div>
        </div>
        <div class="card text-white bg-success my-5 py-4 text-center">
            <div class="card-body"><p class="text-white m-0">Ushbu qidiruv bo'limi orqali siz o'zingiz qidirayotgan
                biror e'lonni qidirib topishingiz mumkin bo'ladi</p></div>
        </div>

        <div class="card  my-5 py-4 text-center">
            <div class="card-body">
                <form class="row g-3">
                    <label for="search" class="visually-hidden">Qidiruv</label>
                    <input type="text" class="form-control form-control-lg" id="search"
                           placeholder="E'lonlar qidiruvi...">
                </form>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-lg mb-3">Izlash</button>
            </div>
        </div>
    </div>
</header>
<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">

            <div class="col-lg-6 col-xxl-4 mb-5">
                <a href="#" class="category-poster">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="bi bi-house-door-fill"></i></div>
                            <h2 class="fs-4 fw-bold">Ko'chmas Mulk</h2>
                            <p class="mb-0">Ko'chmas mulk oldi sotdisi. Kvartiralar, uy sotib olish va sotish!</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <a href="#" class="category-poster">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="bi bi-truck"></i></div>
                            <h2 class="fs-4 fw-bold">Transport</h2>
                            <p class="mb-0">Avtomobil oldi sotdisi va ijarasi.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <a href="#" class="category-poster">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="bi bi-phone-fill"></i></div>
                            <h2 class="fs-4 fw-bold">Elektrotexnika</h2>
                            <p class="mb-0">Turli gadjetlar va mobil qurilmalar oldi sotdisi.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <a href="#" class="category-poster">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                    class="bi bi-person-lines-fill"></i></div>
                            <h2 class="fs-4 fw-bold">Ish o'rinlari</h2>
                            <p class="mb-0">Turli ish o'rinlari haqidagi e'lonlar to'plami</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="card text-white bg-primary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0 last-posters">Oxirgi joylangan e'lonlar</p></div>
</div>

<div class="container">
    <!-- Page Features-->
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <a href="#"><img src="./assets/elon/elon1.jpg" class="card-img-top img-poster" alt=""></a>
                        <div class="card-body">
                            <div class="poster-title-cont">
                                <a href="#" class="poster-link"><span class="card-title poster-title poster-link">Card title</span></a>
                            </div>
                            <p class="card-text" style="margin: 0">Toshkent viloyati.</p>
                            <p class="card-text">- 11.07.2021 15:56</p>
                            <h5 class="card-subtitle mb-2">380 000 SO'M</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <a href="#"><img src="./assets/elon/elon2.jpg" class="card-img-top img-poster" alt=""></a>
                        <div class="card-body">
                            <div class="poster-title-cont">
                                <a href="#" class="poster-link"><span class="card-title poster-title poster-link">Chevrolet Captiva 2020 god vipuska probeg 100 000 km garantiya</span></a>
                            </div>
                            <p class="card-text" style="margin: 0">Toshkent viloyati.</p>
                            <p class="card-text">- 11.07.2021 15:56</p>
                            <h5 class="card-subtitle mb-2">380 000 SO'M</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <a href="#"><img src="./assets/elon/elon3.jpg" class="card-img-top img-poster" alt=""></a>
                        <div class="card-body">
                            <div class="poster-title-cont">
                                <a href="#" class="poster-link"><span class="card-title poster-title poster-link">Card title</span></a>
                            </div>
                            <p class="card-text" style="margin: 0">Toshkent viloyati.</p>
                            <p class="card-text">- 11.07.2021 15:56</p>
                            <h5 class="card-subtitle mb-2">380 000 SO'M</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <a href="#"><img src="./assets/elon/elon4.jpg" class="card-img-top img-poster" alt=""></a>
                        <div class="card-body">
                            <div class="poster-title-cont">
                                <a href="#" class="poster-link"><span class="card-title poster-title poster-link">Card title</span></a>
                            </div>
                            <p class="card-text" style="margin: 0">Toshkent viloyati.</p>
                            <p class="card-text">- 11.07.2021 15:56</p>
                            <h5 class="card-subtitle mb-2">380 000 SO'M</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <a href="#"><img src="./assets/elon/elon5.jpg" class="card-img-top img-poster" alt=""></a>
                        <div class="card-body">
                            <div class="poster-title-cont">
                                <a href="#" class="poster-link"><span class="card-title poster-title poster-link">Card title</span></a>
                            </div>
                            <p class="card-text" style="margin: 0">Toshkent viloyati.</p>
                            <p class="card-text">- 11.07.2021 15:56</p>
                            <h5 class="card-subtitle mb-2">380 000 SO'M</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <a href="#"><img src="./assets/elon/elon6.jpg" class="card-img-top img-poster" alt=""></a>
                        <div class="card-body">
                            <div class="poster-title-cont">
                                <a href="#" class="poster-link"><span class="card-title poster-title poster-link">Card title</span></a>
                            </div>
                            <p class="card-text" style="margin: 0">Toshkent viloyati.</p>
                            <p class="card-text">- 11.07.2021 15:56</p>
                            <h5 class="card-subtitle mb-2">380 000 SO'M</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <a href="#"><img src="./assets/elon/elon7.jpg" class="card-img-top img-poster" alt=""></a>
                        <div class="card-body">
                            <div class="poster-title-cont">
                                <a href="#" class="poster-link"><span class="card-title poster-title poster-link">Card title</span></a>
                            </div>
                            <p class="card-text" style="margin: 0">Toshkent viloyati.</p>
                            <p class="card-text">- 11.07.2021 15:56</p>
                            <h5 class="card-subtitle mb-2">380 000 SO'M</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <a href="#"><img src="./assets/elon/elon8.jpg" class="card-img-top img-poster" alt=""></a>
                        <div class="card-body">
                            <div class="poster-title-cont">
                                <a href="#" class="poster-link"><span class="card-title poster-title poster-link">Card title</span></a>
                            </div>
                            <p class="card-text" style="margin: 0">Toshkent viloyati.</p>
                            <p class="card-text">- 11.07.2021 15:56</p>
                            <h5 class="card-subtitle mb-2">380 000 SO'M</h5>
                        </div>
                    </div>
                </div>
                <div class="col-auto m-auto mt-3 mb-5">
                    <button type="submit" class="btn btn-outline-secondary btn-lg mb-3">Barcha e'lonlar...</button>
                </div>
            </div>
        </div>
    </div>
</div>


